$background-color: rgb(9, 121, 9);
$l-h: 200px;
$secondary-color: white;
$primary-color: black;
$xl-fontsize: 60px;
$xl-w: 200px;
$s-gap: 10px;
$m-gap: 20px;
$border-radius: 10px;
$l-fontsize: 20px;
$xl-h: 500px;
$text-align: center;
$m-borderradius: 20px;