@use "reset";
@use "variables";
@use "placeholders";
@use "mixin";

.container-fluid{
    background-color: variables.$background-color;
    height: variables.$l-h;
        @include mixin.flex;
        gap: variables.$s-gap;
       
    h1{
        color: variables.$secondary-color;
        font-size: variables.$xl-fontsize;
    }
    i {
        font-size: variables.$xl-fontsize;
    }
    div{
        width: 100%;
       padding-right: 0;
       padding-left: 0;
         button{
          transform: translate(0,18px);
           border-radius: 0; 
          
        }
        button:hover{
            background-color: variables.$background-color;
            border: 1px solid variables.$background-color;
        }
        }
}
.hover-image{
    border: 5px solid variables.$background-color;
    position: relative;
    img{
        position: absolute;
       width: 100%;
       height: 700px;
       z-index: 1;
       
    }
    .hover-image:hover{
         position: absolute;
         width: 100%;
       height: 700px;
     z-index: 2;

    }
}

